html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5& = 10PX DE 16PX **/
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}


/** Globales **/

a {
    text-decoration: none;
    color: black;
}

.testata {
    background-image: url(../img/lalla.jpg);
    background-size: cover;
    height: 85rem;
}

.button {
    margin-left: 140rem;
}

.idea {
    padding-top: 18rem;
    font-family: 'Poiret One', cursive;
    margin-left: 20rem;
    color: white;
    max-width: 205rem;
    font-size: 10rem;
}

.idea span {
    font-family: 'Poiret One', cursive;
    font-style: italic;
    color: white;
}

.par_nom {
    font-family: 'Satisfy', cursive;
    font-size: 6.2rem;
    margin-top: -2rem;
    color: black;
    margin-left: 16rem;
}

.description {
    background-image: url(/img/yamonstro151000006.jpg);
    background-size: 220rem;
    height: 130rem;
    border: 1rem solid gray;
}

.description button {
    width: 20rem;
    height: 5rem;
    background-color: rgb(3, 112, 112);
    color: orange;
    margin-left: 75rem;
}

.description p {
    padding-left: 20rem;
    padding-right: 20rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Open Sans Condensed', sans-serif;
    color: rgb(6, 152, 250);
}

.description img {
    width: 50rem;
    margin-top: 20rem;
    margin-left: 60rem;
    margin-right: 40rem;
    border-radius: 50%;
}


/* Enlaces del menu */

.enlaces a {
    padding-top: 10rem;
    margin-left: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.enlaces {
    font-size: 2rem;
    font-family: serif;
    text-decoration: none;
    text-align: center;
    padding-right: auto;
    padding-top: 7rem;
}

.enlaces a {
    color: white;
    padding-right: auto;
    border-right: 5rem;
    text-transform: uppercase;
    text-align: center;
}

.enlaces a:hover {
    border-bottom: 3px solid white;
    transition: ease-in-out 0.4s;
}

.social-bar {
    position: fixed;
    left: 0;
    top: 30;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}

.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}

.icon-facebook:before {
    content: "\ea91";
}

.icon-facebook {
    background: #2e4062;
}

.icon-instagram {
    background: #339dc5;
}

.icon:first-child {
    border-radius: 1rem 0 0 0;
}

.icon:last-child {
    border-radius: 0 0 0 1rem;
}

.articles {
    height: 400rem;
    display: block;
}

.art1 {
    width: 90rem;
    height: 90rem;
    background-image: url(/img/3.jpg);
    background-size: auto;
    background-position: left;
    color: white;
    font-size: 15rem;
    text-align: center;
    margin-top: 30rem;
    margin-left: 40rem;
}

.art2 {
    width: 90rem;
    height: 89rem;
    background-image: url(/img/baby2.jpg);
    background-size: 135rem;
    background-position: right;
    color: white;
    font-size: 15rem;
    text-align: center;
    margin-top: 30rem;
    margin-left: 40rem;
}

.art3 {
    width: 90rem;
    height: 90rem;
    background-image: url(/img/street\ photo.jpg);
    background-size: 135rem;
    background-position: right;
    color: white;
    font-size: 10rem;
    text-align: center;
    margin-top: 30rem;
    margin-left: 40rem;
    text-align: end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    height: 30rem;
}